html, body {
    background: linear-gradient(45deg, #008ba0, #00a3a4, #00bca1, #d000d4);
    background-size: 1200% 1000%;
    animation: gradientAnimation 10s ease infinite;
    height: 100%;    
    margin: 0;
}

/* I want to credit Code Lounge for the youtube video that helped me */
@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
nav img {
    width: 8rem;
    height: auto;
}

/* Main body styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: red;
    border: .125rem solid white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    padding: 2rem 1.5rem;
}

.name-container, .phone-container, .email-container {
    padding: .5rem;
    margin: 0 0 1.125rem 0;
}
textarea {
    padding: 2rem;
}
.submit-button {
    padding: .5rem;
    margin-top: 1.25rem;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    color: white;
    position: relative;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 .625rem;
}