/* Body theme */
html, body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #24305e;
    height: 100%;     
    margin: 0;
}

/* Store Name styling*/
.title-container {
    margin: auto;
    width: 15%;
}
.line {
    width: 13.75rem;
    border-radius: .5rem;
    height: .25rem;
    background-color: #a8d0e6;
}
.title-container h1 {
    margin: 0;
    color: #f76c6c;
}
.title-container h2 {
    margin: 0;
    color: #f8e9a1;
    padding-left: 2rem;
    width: 15rem;
    font-size: 2rem;
}

/* Nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25rem;
}
nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* Main Content styling */
/* Layout of the website is grid*/
#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .313rem;
    margin: .625rem;
    padding: .313rem;
}

/* Setting up where the products will live */
.item-container {
    margin: .25rem;
    padding: .625rem;
    text-align: center;
    font-family: sans-serif;
    background-color: #374785;
    color: white;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
/* Resizing all images */
.item-container img {
    height: 15rem;
}

/* Footer Styling */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
}
.footer-container { 
    text-align: center;
    color: white;
    font-size: 1.125rem;
}
.footer-nav a{
    padding: 1.25rem 0;
    text-decoration: none;
    color: white;
    padding: 0 .625rem;
}

/* Responsivity Code */

/* I had to start with tablet to make it work */
@media (max-width: 768px) {
    .title-container {
        width: 29%;
    }

    #products {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-container img {
        height: 8rem;
    }
}

/* Then mobile screens */
@media (max-width: 488px) {
    .title-container {
        width: 52.5%;
    }

    #products {
        grid-template-columns: 1fr;
    }

    .item-container img {
        height: 6rem;
    }
}

/* A section between tablet and laptop screens */
@media (min-width: 769px) and (max-width: 1023px) {
    #products {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-container img {
        height: 8rem;
    }
}

/* Running to issues with my background and this seemed to fix it */
@media (min-width: 1024px) {
    #products {
        grid-template-columns: repeat(4, 1fr);
    }

    .item-container img {
        height: 8rem;
    }
}

/* Didn't want to leave out anyone w/4k screens */
@media (min-width: 2560px) {
    h1 {
        font-size: 4rem;
    }
    .line {
        width: 25rem;
        height: .5rem;
    }
    h2 {
        font-size: 4rem;
        width: 40rem;
        padding-left: 5rem;
    }
    nav a{
        font-size: 2.5rem;
    }
    .item-container img {
        height: 15rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }
    .footer-nav a {
        font-size: 2.5rem;
    }
}