/* Theming the website with a gradient of colors 
and animating the background */
html, body {
    background: linear-gradient(45deg, #008ba0, #00a3a4, #00bca1, #d000d4);
    background-size: 1200% 1000%;
    animation: gradientAnimation 10s ease infinite;
    height: 100%;    
    margin: 0;
}

/* I want to credit Code Lounge for the youtube video that helped me */
@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img {
    height: 10rem;
}
nav a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}


/* Main Content styling */

/* Layout of the website is grid*/
.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: white;
}

/* Setting up where the products will live */
div {
    margin: 5px;
    text-align: center;
    font-family: sans-serif;
}

/* Resizing all images */
div img {
    height: 10rem;
}

/* Styling for all the buttons and hover */
button {
    background-color: transparent;
    color: white;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
}

button:hover {
    color: red;
    background-color: whitesmoke;
    border-radius: 5px;
}
/* Footer Styling */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
/* Responsivity Code */

/* I had to start with tablet to make it work */
@media (max-width: 768px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }

    div img {
        height: 8rem;
    }
}

/* Then mobile screens */
@media (max-width: 488px) {
    .main-container{
        grid-template-columns: 1fr;
    }

    div img {
        height: 6rem;
    }

    button {
        font-size: .8rem;
    }
}

/* A section between tablet and laptop screens */
@media (min-width: 769px) and (max-width: 1023px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }

    div img {
        height: 8rem;
    }
}

/* Running to issues with my background and this seemed to fix it */
@media (min-width: 1024px) {
    .main-container {
        grid-template-columns: repeat(4, 1fr);
    }

    div img {
        height: 8rem;
    }

    button {
        font-size: 1rem;
    }
}

/* Didn't want to leave out anyone w/4k screens */
@media (min-width: 2560px) {
    header {
        font-size: 2rem;
    }

    div img {
        height: 15rem;
    }

    p {
        font-size: 2rem;
    }

    button {
        font-size: 2rem;
    }
}