html, body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #24305e;
    height: 100%;     
    margin: 0;
}

/* Store Name styling*/
.title-container {
    margin: auto;
    width: fit-content;
}
.line {
    width: 13.75rem;
    border-radius: .5rem;
    height: .25rem;
    background-color: #a8d0e6;
}
.title-container h1 {
    margin: 0;
    color: #f76c6c;
}
.title-container h2 {
    margin: 0;
    color: #f8e9a1;
    padding-left: 2rem;
    width: 15rem;
    font-size: 2rem;
}

/* Nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25rem;
}
nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
/* main hero styling */
.hero {
    position: relative;
    width: 100vw;
    height: 86.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before { /* ensures that styling only happens to hero before text */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(75%);
}
.hero-content {
    position: relative;
    text-align: center;
    margin: .625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin: 11rem 0 0 0;
    color: #f76c6c;
}
.hero-button {
    background-color: #dfbc6b;
    border: none;
    border-radius: .25rem;
    margin: 6rem 0 3rem 0;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.hero-button:hover {
    background-color: white;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem 0 18.5rem 0;
    color: #a8d0e6;
}

/* Footer style */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
}
.footer-container { 
    text-align: center;
    color: white;
    font-size: 1.125rem;
}
.footer-nav a{
    padding: 1.25rem 0;
    text-decoration: none;
    color: white;
    padding: 0 .625rem;
}

/* Icon style */
.fa {
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

  /* Instagram color */
.fa-instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
}

  /* Google color */
.fa-linkedin {
    background-color: #0077b5;
    color: white;
}

  /* Yahoo color */
.fa-yahoo {
    background: #720e9e;
    color: white;
}