html, body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #24305e;
    height: 100%;     
    margin: 0;
}

/* Store Name styling*/
.title-container {
    margin: auto;
    width: 15%;
}
.line {
    width: 13.75rem;
    border-radius: .5rem;
    height: .25rem;
    background-color: #a8d0e6;
}
h1 {
    margin: 0;
    color: #f76c6c;
}
h2 {
    margin: 0;
    color: #f8e9a1;
    padding-left: 2rem;
    width: 15rem;
    font-size: 2rem;
}

/* Nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25rem;
}
nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}















/* Footer style */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
}
.footer-container { 
    text-align: center;
    color: white;
    font-size: 1.125rem;
}
.footer-nav a{
    padding: 1.25rem 0;
    text-decoration: none;
    color: white;
    padding: 0 .625rem;
}